#offresatrs {
    background-color: chartreuse;
}  
  
/*.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline !important;
  }*/
  
  /*.intl-tel-input {
    display: table-cell;
  }
  .intl-tel-input .selected-flag {
    z-index: 3;
  }
  .intl-tel-input .country-list {
    z-index: 5;
  }
  .input-group .intl-tel-input {
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
  }*/